@keyframes darkenBackground {
    from {
      background: rgba(0, 0, 0, 0);
    }
    to {
      background: rgba(0, 0, 0, 0.805); /* Darken more */
    }
  }
  
  @keyframes showText {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .background {
    height: 700px;
    width: 100%;
    background: url('backg.jpg');
    margin: 0 ;
    background-position: center;
    background-size: cover;
   
    position: relative;
    overflow: hidden;
  
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    animation: darkenBackground 1.1s forwards;
    animation-delay: 1.1s;
    z-index: 0; 
  }
  
  .text {
 width: 90%;
 height: 100%;
 margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
    color: white;  
    font-size: 32px;  
    font-weight: bold; 
    opacity: 0;
    animation: showText 1.1s forwards;
    animation-delay: 1.1s;
    z-index: 1; 
    gap: 4rem;
  }
  
.centbut{
  display: flex;
  margin-top: 12px;
}

.butsty{
margin: 10px; 
color: rgb(255, 255, 255);
background:linear-gradient(to bottom, rgb(255, 0, 0),black) ;
padding: 13px;
font-size: x-large;
border-radius: 21px;
border: none;
font-weight: bold;
box-shadow: 0 4px 12px rgba(255, 255, 255, 0.589);  
}

.butsty:hover{
  background: rgb(255, 255, 255); 
  color: blue;
  box-shadow: 0 12px 24px rgba(255, 255, 255, 0.589);  
}

.fadehr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgb(66, 152, 160), rgb(244, 240, 18),  rgb(66, 152, 160));
  }
  .introtexta h1{
font-size: 67px;
padding: 20px;
  }
  .introtexta p{
font-size: 29px;
padding: 20px;
  }


  .div{
background-color: red;
padding: 5px;
color: white;
border-radius: 14px;
  }