.background{
width: 87%;
height: 500px;
margin: 0 auto;
border-radius: 14px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
margin-bottom:79px ;
display: flex;
flex-direction: column;
justify-content:  center;
overflow: visible;
position: relative;
z-index: 1;
align-items: center;
background: linear-gradient(to bottom left,orange,blue);
margin-top: 70px;
}

 .text1{
    
    color: rgb(255, 255, 255);
    font-size: 49px;
    font-weight: 800;
    margin: 0px;
    margin-top: 80px;
    padding: 13px;
    
 }
 .text2{
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bolder;
    margin: 0px;
 }
.im2{ 
       background:url('cam2.webp');
       height: 300px;  
    width: 360px;
    background-size: cover; 
    background-repeat: no-repeat;
    position: absolute;
     top: 279px;
     left: 0px;
     rotate: 9deg;
     z-index: 3;
     animation: upDown 2s ease-in-out infinite;

    }
.im3{  
      background:url('yout.png');
    height: 300px;  
    width: 300px; 
position: absolute;
top: -70px;
    background-size: cover; 
    object-fit: cover;
    left: 0px;
    rotate: 60deg;
    z-index: 3;
    animation: upDown 2s ease-in-out infinite;
}
.im1{

    background:url('inst.png');
    height: 300px;  
    width: 500px; 
position: absolute;

    background-size: cover; 
    object-fit: cover;
    rotate: 240deg;
    top:-10px;
    right: -120px;
    z-index: 3;   
    animation: upDown 2s ease-in-out infinite;
}
.im4{
    background:url('ed.webp');
    height: 490px;  
    width: 500px; 
position: absolute;

    background-size: cover; 
    object-fit: cover;
     top: 200px;
    
    right: 0px;
    z-index: 3;   
    animation: upDown 2s ease-in-out infinite;

}
.im5{
    background:url('vid.webp');
    height: 300px;  
    width: 300px; 
position: absolute;
top: -110px;

    background-size: cover; 
    object-fit: cover;
    rotate: -35deg;
    z-index: 4;   
    animation: upDown 2s ease-in-out infinite;

}

@keyframes upDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7px);
    }
    100% {
      transform: translateY(0);
    }
  }

.centbut{
    display: flex;
    margin-top: 12px;
}
 
.butsty{
margin: 10px; 
color: white;
background-color: rgb(255, 119, 0);
padding: 13px;
font-size: larger;
border-radius: 21px;
border: none;
font-weight: bolder;
}

.butsty:hover{
    background: rgba(72, 21, 241); /* Slightly more opaque on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on hover */
 
}