.cardcontainer {
  margin-bottom: 60px; /* Space below each card to allow for expansion */
}

.card {
  flex: 1 1 auto; 
  padding: 14px;
  background-color: rgba(255, 0, 0, 0.101);
  border-radius: 14px;
  margin: 22px;
  color: rgb(0, 0, 0);
  border: 2px solid rgba(255, 255, 255, 0.151);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: stretch;  
  width: 200px; 
  height: 230px;  
}

.images {
  background-position: center;
  background-size: cover;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(219, 121, 121);
  padding: 25px;
  border-radius: 50%;
  width: 50px;   
  height: 50px;  
  overflow: visible;
  transition: background-color 0.3s;
}

.imag {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
}

.titles {
  font-size: x-large;
  padding: 14px;
  font-weight: bolder;
  text-align: center;
}

.paras {
  display: none;
  text-align: center;
  font-size: smaller;
}

.card:hover {
  transform: scale(1.25, 1.25);  
  box-shadow: 0px 12px 12px rgba(255, 250, 250, 0.873);
  background-color: rgb(203, 23, 23); 
  /* height: 290px;  */
}

.card:hover .paras {
  display: block;
  color: white;
}
.card:hover .titles{
  margin-top: 15px;
  display: none;
}

.card:hover .s {
  background-color: black;
}

.card:hover .images {
  background-color: rgb(255, 255, 255);
}

@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}
