.container {
  display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #ffffff; 
  border-radius: 8px;
  width: 95%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.h2 {
  text-align: center;
  color: #ffffff;
  font-size: 67px;
  margin-bottom: 20px;  
  text-decoration: underline red;
 
}
.pp{
margin-bottom: 50px;

}


.h3 {
  color: red;
  margin-top: 20px;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
}

.p {
  width: 90%;
  line-height: 1.6;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.fi {
  width: 25%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  text-align: center;
  
  align-items: center;
}

.ch {
  padding: 20px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  overflow: visible;  
}

@media (max-width: 1200px) {
  .fi {
    width: 45%; /* Adjust width for medium screens */
  }
}

@media (max-width: 768px) {
  .fi {
    width: 100%; /* Stack items vertically on small screens */
    margin-bottom: 40px;
  }

  .h2 {
    font-size: 48px; /* Adjust heading size for smaller screens */
  }

  .h3 {
    font-size: large; /* Adjust subheading size for smaller screens */
  }
}
