
*{
    margin: 0px;
}

body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;

}
.logo {
    width: 175px;
    height: 45px;
    padding: 20px;
   
}
html {
    scroll-behavior: smooth;
  }
  .nbg{
background: linear-gradient(to bottom,black 60%,white);


  }