@keyframes darkenBackground {
    from {
      background: rgba(0, 0, 0, 0);
    }
    to {
      background: rgba(0, 0, 0, 0.7); /* Darken more */
    }
  }
  
  @keyframes showText {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .background {
    height: 600px;
    width: 87%;
    background: url('bg.png');
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    margin-bottom: 110px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    animation: darkenBackground 1.1s forwards;
    animation-delay: 1.1s;
    z-index: 0; /* Ensure the overlay is below the text */
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Ensuring the text color is completely white */
    font-size: 32px; /* Increased font size */
    font-weight: bold; /* Make the text bold */
    opacity: 0;
    animation: showText 1.1s forwards;
    animation-delay: 1.1s;
    z-index: 1; /* Ensure the text is on top of the overlay */
  }
  
.centbut{
  display: flex;
  margin-top: 12px;
}

.butsty{
margin: 10px; 
color: white;
background-color: rgb(255, 119, 0);
padding: 13px;
font-size: large;
border-radius: 21px;
border: none;
font-weight: bolder;
}

.butsty:hover{
  background: rgba(72, 21, 241); /* Slightly more opaque on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly stronger shadow on hover */

}