 
.card {
    display: flex;
    flex-direction: row; 
    border-radius: 8px;
    overflow: hidden;
    margin: 32px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    width: 70%;
    color: white;
    background: linear-gradient(to bottom left,rgb(0, 0, 0),rgb(255, 0, 0));
   
    border-top: 2px solid rgb(255, 255, 255);  
    border-left: 2px solid rgb(255, 255, 255);  
    border-right: none;
    border-bottom: none;
  }
  
  .reverse {
    flex-direction: row-reverse;
    background: linear-gradient(to bottom left,rgb(255, 0, 0),rgb(0, 0, 0));
 height:250px;
border-top: 2px solid rgb(255, 255, 255);  
border-right: 2px solid rgb(255, 255, 255);  
border-left: none;
border-bottom: none;

  }
  
  
  .image {
    width: 49%;
    height: auto;
    position: relative;
    margin: 11px;
    object-fit: cover;
  }
  .image iframe{
    border-radius: 10px;

  }
  
  .content {
    width: 50%;
    padding: 16px;
  }
  
  .title {
    margin: 0;
    font-size: 40px;
  }
  
  .description {
    margin: 10px 0;
    font-style: oblique;
    font-size: large;
  }
  
  .link {
    color: blue;
    text-decoration: underline;
  }
  .ifr{
    transition: box-shadow 0.3s ease-in-out;
  }

  .ifr:hover{
 scale: 1.03; 
box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  .butst{
    padding: 10px;
    margin: 13px;
    border-radius: 17px;
    font-weight: 700;
    background-color: white;
    border: 3px solid black;
    font-size: larger;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
  }
.butst:hover{
/* scale:1.09 ; */
box-shadow: 0 0 20px rgba(255, 255, 255, 1);
background-color: red;
color: white;
border: 2px solid white;
}
