.card {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
  margin: 32px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  width: 85%;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 49px;
  border-bottom: 4px solid red;
  border-right: 4px solid red;
  height: 300px;
  transition: all 0.3s ease-in-out;
}

.image {
  width: 40%;
  height: 75%;
  margin: 11px;
  right: 40px;
  position: absolute;
}

.image iframe {
  border-radius: 10px;
  border-bottom: 4px solid red;
  border-right: 5px solid red;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.content {
  width: 50%;
  padding: 16px;
}

.title {
  margin: 0;
  font-size: 40px;
  color: rgb(255, 1, 1);
}

.description {
  margin: 10px 0;
  font-style: oblique;
  font-size: large;
}

.butst {
  padding: 10px;
  margin: 13px;
  border-radius: 17px;
  font-weight: 700;
  background-color: white;
  border: 3px solid black;
  font-size: larger;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.butst:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  background-color: red;
  color: white;
  border: 2px solid white;
}

@media (max-width: 900px) {
  .extmar {
    margin-top: 15px;
  }

  .card {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .content {
    width: 100%;
    padding: 16px;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: medium;
  }

  .butst {
    padding: 8px;
    margin: 8px;
    font-size: medium;
  }

  .image iframe {
    height: 300px;
  }
}

.heading {
  font-size: 67px;
  color: black;
  padding: 20px;
}
.pp{
  font-size: large;

margin-bottom: 100px;
}

@media (max-width: 600px) {
  .title {
    font-size: 24px;
  }

  .description {
    font-size: small;
  }

  .butst {
    padding: 6px;
    margin: 6px;
    font-size: small;
  }

  .image iframe {
    height: 200px;
  }
}
