 
.container {
 width: 100%;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #ffffff; 
    border-radius: 8px; 
    margin: 20px auto;
    width: 89%;
    
  }
  
  .h2 {
    text-align: center;

    color: #ff0000;
    margin-bottom: 20px;
    font-size: 67px;
  }
  
  .question {

    margin-bottom: 20px;
  }
  
  .h3 {
  color: red;
  }
  
  .p {
    line-height: 1.6;
    color: #ffffff;
  }
  